<div class="col-sm-4 col-xs-12">
  <div class="info-box">
    <span class="info-box-icon bg-aqua"><i class="fa fa-mobile-phone"></i></span>
    <div class="info-box-content">
      <span class="info-box-text">Registered Devices</span>
      <span class="info-box-number" id="total-registered-devices"></span>
    </div><!-- /.info-box-content -->
  </div><!-- /.info-box -->
</div><!-- /.col -->
