<div class="col-xs-12">
	<div class="box box-info">
		<div class="box-header with-border">
			<h3 class="box-title">Twilio Settings</h3>
		</div>
		<form class="form-horizontal">
			<div class="box-body">
				<div class="form-group">
					<label for="twilio-phone" class="col-sm-2 control-label">Twilio Number</label>
					<div class="col-sm-10">
						<input class="form-control" id="twilio-account-phone" name="twilio-phone" placeholder="1-408-555-1212">
					</div>
				</div>
				<div class="form-group">
					<label for="twilio-account-sid" class="col-sm-2 control-label">Twilio SID</label>
					<div class="col-sm-10">
						<input class="form-control" id="twilio-account-sid" name="twilio-account-sid" placeholder="AC4a27c21e574f77feb5bc81A79553ee77">
					</div>
				</div>
				<div class="form-group">
					<label for="twilio-account-token" class="col-sm-2 control-label">Twilio Token</label>
					<div class="col-sm-10">
						<input class="form-control" id="twilio-account-token" name="twilio-account-token" placeholder="4823eb7034ee976643035f0a59g4bfd3">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-primary" id="settings-button">Submit</button>
					</div>
				</div>
		</form>
		</div>
	</div>
	<div class="box box-info">
		<div class="box-header with-border">
			<h3 class="box-title">CMX Settings</h3>
		</div>
		<form class="form-horizontal">
			<div class="box-body">
				<div class="form-group">
					<label for="cmx-host" class="col-sm-2 control-label">CMX Host Address</label>
					<div class="col-sm-10">
						<input class="form-control" id="cmx-host" name="cmx-host" placeholder="CMX Host Address">
					</div>
				</div>
				<div class="form-group">
					<label for="cmx-port" class="col-sm-2 control-label">CMX Port</label>
					<div class="col-sm-10">
						<input class="form-control" id="cmx-port" name="cmx-port" placeholder="443">
					</div>
				</div>
				<div class="form-group">
					<label for="cmx-user" class="col-sm-2 control-label">User</label>
					<div class="col-sm-10">
						<input class="form-control" id="cmx-user" name="cmx-user" placeholder="User">
					</div>
				</div>
				<div class="form-group">
					<label for="cmx-password" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="cmx-password" name="cmx-password" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-primary" id="cmx-host-button">Submit</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
